@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin: 0 10% 0 10%;
}


@layer base {
  button {
    @apply bg-fuchsia-500 text-gray-950 px-2 rounded hover:bg-fuchsia-300;
  }
  h1 {
    @apply lg:text-4xl sm:text-2xl font-bold text-teal-300;
  }
  h2 {
    @apply lg:text-3xl sm:text-2xl font-bold text-teal-300;
  }
  h3 {
    @apply lg:text-2xl sm:text-xl font-bold text-teal-300;
  }
  h4 {
    @apply text-xl font-bold text-teal-300;
  }
  h5 {
    @apply text-lg font-bold text-teal-300;
  }
  p {
    @apply text-base text-white;
  }
  ul {
    @apply  pl-5 text-white; /* list-disc */
  }
  ol {
    @apply list-decimal pl-5 text-white;
  }
  nav {
    @apply bg-gray-700 text-white lg:h-12 sm:h-9 flex justify-end items-center;
  }
  input {
    @apply border border-gray-400 rounded text-gray-950 p-2 text-left lg:w-60 sm:w-20;
  }
  td {
    @apply text-center lg:px-4 sm:px-2;
  }
}

@layer components {
  .card {
    @apply bg-gray-800 flex flex-col justify-center items-center text-center;
    max-width: 250px;
  }
}

.atom-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.nucleus {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
}

.oval {
    position: absolute;
    clip-path: ellipse(40% 20% at 50% 50%);
    width: 200px;
    height: 200px;
    background-color: red;
}

.oval2 {
    position: absolute;
    clip-path: ellipse(40% 20% at 50% 50%);
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}

.orbit1 { width: 100px; height: 100px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.orbit2 { width: 150px; height: 150px; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.orbit3 { width: 200px; height: 200px; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.electron {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    /* Initial position can be set here */
}
